/* Css reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Css reset end  */

:root {
  /* Light Theme */
  --nav-bg: #f0f0f0; /* Background navbar (light) */
  --nav-text: #333333; /* Teks navbar (light) */

  --body-bg: #ffffff; /* Background utama (light) */
  --text-main: #000000; /* Teks utama (light) */
  --font-family: "Exo 2", serif;
}

.dark-theme {
  /* Dark Theme */
  --nav-bg: #2c2c2c; /* Background navbar (dark) */
  --nav-text: #ffffff; /* Teks navbar (dark) */

  --body-bg: #1a1a2e; /* Background utama (dark) */
  --text-main: #cfd8dc; /* Teks utama (dark) */
  --font-family: "Exo 2", serif;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--body-bg);
}

.nav {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav-bg);
  position: sticky;
  top: 0;
}

.nav .left-nav {
  font-size: 2rem;
  width: 50%;
}

.nav .left-nav .brand{
  margin-left: 2rem;
  text-decoration: none;
  color: var(--nav-text);
  font-weight: bold;
}

.nav .right-nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav .right-nav .menu-items {
  visibility: hidden; /* Awalnya tidak terlihat */
  opacity: 0; /* Transparan */
  transform: translateY(-20px); /* Geser ke atas */
  transition: 0.2s ease, transform 0.5s ease; /* Transisi smooth */
  position: absolute; /* Posisi absolut */
  top: 6rem; /* Pastikan muncul di bawah navbar */
  left: 0;
  right: 0;
  width: 100%; /* Pastikan lebarnya penuh */
}


.nav .right-nav .menu-items ul {
  margin: 0;
  padding: 0;
  width: 100%; /* Ikuti lebar menu-items */
  height: 11rem;
  background-color: var(--nav-bg);
}


.nav .right-nav .menu-items ul li{
  padding-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-family: var(--font-family);
}

.nav .right-nav .menu-items ul li a{
  text-decoration: none;
  color: var(--nav-text);
}

.nav .right-nav .toggle-container {
  margin-right: 2rem;
  width: 2rem;
}

.nav .right-nav .img-theme {
  width: 2.3rem;
}

.nav .right-nav .humb-container {
  margin-right: 2rem;
  width: 3rem;
}

.nav .right-nav .img-humb {
  width: 2rem;
}

.humb-container, .toggle-container{
  cursor: pointer;
}


.nav .right-nav .menu-items.visible {
  visibility: visible; /* Jadi terlihat */
  opacity: 1; /* Muncul */
  transform: translateY(0); /* Balik ke posisi semula */
}
/* nav End  */

/* responsive start */
@media screen and (min-width: 700px) {
  .nav {
    height: 6rem;
  }
  
  .nav .left-nav {
    font-size: 2rem;
  }
  
  .nav .right-nav{
    position: relative;
  }
  
  .nav .right-nav .menu-items {
    position: static; 
    transform: none; /* Hapus transform untuk kembali ke posisi semula */
    visibility: visible; /* Muncul langsung tanpa delay */
    opacity: 1; /* Juga langsung tidak transparan */
    transition: none; /* Hapus transisi karena tidak diperlukan lagi */
    top: 0;
  }

  .nav .right-nav .menu-items ul {
    height: auto; /* Sesuaikan tinggi menu-items untuk desktop */
    display: flex;
    justify-content: space-around;
    align-items: center;
    top:0
  }

  .nav .right-nav .menu-items ul li {
    padding: 0;
    font-size: 1.2rem; /* Sesuaikan ukuran font untuk tampilan desktop */
  }

  .nav .right-nav .toggle-container {
    margin-right: 1.5rem;
  }

  .nav .right-nav .img-theme {
    width: 2.5rem;
  }

  .nav .right-nav .humb-container {
    display: none;
    margin-right: 2rem;
    width: 3rem;
  }

  .nav .right-nav .img-humb {
    width: 2rem;
  }
}
/* responsive end */
