/* Css reset start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Css reset end  */

:root {
  /* Light Theme */
  --nav-bg: #f0f0f0; /* Background navbar (light) */
  --nav-text: #333333; /* Teks navbar (light) */

  --body-bg: #ffffff; /* Background utama (light) */
  --text-main: #000000; /* Teks utama (light) */
  --font-family: "Exo 2", serif;
}

.dark-theme {
  /* Dark Theme */
  --nav-bg: #2c2c2c; /* Background navbar (dark) */
  --nav-text: #ffffff; /* Teks navbar (dark) */
  
  --body-bg: #1a1a2e; /* Background utama (dark) */
  --text-main: #cfd8dc; /* Teks utama (dark) */
  --font-family: "Exo 2", serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  color: var(--text-main);
  font-family: var(--font-family);
}

/* nav Start  */
.nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bg);
  border: 1px solid black;
}

.nav .left-nav{
  width: 60%;
}

.nav .brand{
  display: block;
  text-align: center;
  font-size: 2rem;
  color: var(--text-main);
  font-family: var(--font-family);
  text-decoration: none;
}

.nav .right-nav{
  width: 40%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.nav .right-nav .menu-items{
  position: absolute;
  width: 100vw;
  height: 7rem;
  display: none;
  top : 3.8rem;
  background-color:var(--nav-bg);
}

.nav .right-nav .menu-items ul{
  height: inherit;
  border: 1px solid black;
  border-top: none;
}

.nav .right-nav .menu-items ul li {
  padding-top: .5rem;
  text-align: center;
  text-decoration: none;
}

.nav .right-nav .menu-items ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--text-main);
  font-family: var(--font-family);
}

.nav .right-nav .toggle-container{
  margin-right: 1.5rem;
}

.nav .right-nav .toggle-container .img-theme{
  width: 2rem;
}

.nav .right-nav .humb-icon{
  margin-right: 1rem;
}

.nav .right-nav .humb-icon .img-humb{
  width: 2rem;
}

.right-nav .menu-items.visible{
  display: block;
}

/* nav End  */
